# Shopify — headless storefront
SHOPIFY_STORE_DOMAIN=rajraani-dev.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2025-07
SHOPIFY_WEBHOOK_SECRET=

# Sanity — editorial
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-08-01
SANITY_READ_TOKEN=
SANITY_REVALIDATE_SECRET=

# Algolia — Sprint 3
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=
ALGOLIA_ADMIN_KEY=

NEXT_PUBLIC_SITE_URL=http://localhost:3000
